@import "./settings";

$brand-facebook: #3b5998;
$brand-twitter: #55acee;

.site-footer {
  background-color: $blue-dark;
  color: $yellow-light;
  padding: 3rem 0;

  a {
    color: $cream;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    color: $yellow-light;
  }
  .p-tel {
    margin-top: 1rem;
  }

  .button-row {
    display: flex;
    .button {
      flex: 1;
    }
    > * {
      margin-right: 10px;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .fa-facebook {
    margin-right: 5px;
  }
  .fa-facebook, .fa-twitter {
    color: white;
    &:hover {
      color: $yellow-light;
    }
  }

  input {
    background-color: transparent;
    border: 3px solid $white;
  }

}
