@import "./settings";

#home-page {
  hr {
    height: 3px;
    width: 50px;
    background-color: $red-dark;
    color: $red-dark;
    border: 0;
    margin-bottom: 50px;
  }

  .orbit-wrapper {
    position: relative;
  }

  .carousel-slide {
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    width: 100%;
    min-height: 600px;
    max-height: 100vh;
  }

  .carousel-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($blue-dark, 0.899);
    width: 500px;
    color: $yellow-light;
    padding: 50px;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.25;
    font-weight: 300;
    padding-bottom: 100px;
    overflow-y: auto;

    @include breakpoint(small only) {
      font-size: 1.3rem;
      text-align: center;
      right: 0;
      width: 100%;
    }

    h3 {
      font-size: 48px;
      color: $yellow-light;
    }

    hr {
      margin: 20px 0 30px;

      @include breakpoint(small only) {
        margin: 20px auto 30px;
      }
    }

    .button {
      margin-top: 20px;
    }
  }

  .orbit-bullets {
    position: absolute;
    padding: 50px;
    bottom: 0;
    left: 0;

    button {
      background-color: rgba($cream, 0.7);
    }
    button.is-active {
      background-color: $cream;
    }

    .orbit-controls {
      i {
        font-size: 24px;
      }
      button {
        background: $blue-dark;
        padding: 0.5rem;

        &:hover {
          background: $blue-dark;
          color: $white;
        }
      }

      .orbit-previous {
        @include breakpoint(medium) {
          left: 0;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }

      .orbit-next {
        @include breakpoint(medium) {
          right: 0;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
      }
    }
  }

  section {
    padding: 50px;
    text-align: center;
    @include breakpoint(medium) {
      padding: 50px 30px;
    }
    @include breakpoint(small) {
      padding: 50px 20px;
    }

    h4 {
      color: $blue-light;
    }
  }

  .events {
    .event-link:hover {
      text-decoration: none;
      .event-blue-block {
        background-color: rgba($blue-light, 0.899);
      }
    }

    .event {
      background-color: $blue-light;
      padding: 30px 0;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: cover;
      margin-bottom: 30px;
    }

    .event-blue-block {
      padding: 30px 20px;
      background-color: rgba($blue-dark, 0.899);
      color: $white;
      h4 {
        color: $yellow-light;
      }
    }
  }

  .news {
    .news-item {
      display: flex;
      max-width: 900px;
      margin: 50px auto;
      text-align: left;
    }

    .news-item-image {
      max-width: 30%;

      @include breakpoint(small) {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }

    .news-item-summary {
      flex: 1;
      padding: 0 30px;
      h4 {
        color: $blue-dark;
      }
    }
  }

  .yellow-banner {
    text-align: center;
    background-color: $yellow-dark;
    padding: 50px;
    color: $white;
    font-size: 1.3rem;
    h3 {
      color: $white;
    }
  }
}
