{% extends "events/event_base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div id="content" class="grid-container">
	<div id="events-index">
		{% if request.GET.past %}
		<a class="past-future" href="{{ request.path }}">Show Future Events</a>
		{% else %}
		<a class="past-future" href="{{ request.path }}?past=true">Show Past Events</a>
		{% endif %}

		<h3>{% if self.subtitle %} {{ self.subtitle }}{% else %}{{ self.title }}{% endif %}</h3>

		{% include "events/includes/tags.html" %}

		<div>
			{% for event in events %}
			{% include "events/includes/event_list_item.html" %}
			{% endfor %}
		</div>

		{% if events.has_other_pages %}
		<div class="hide-for-print medium-12 cell">
			<ul class="pagination text-center" role="navigation" aria-label="Pagination">
				{% if events.has_previous %}
				<li class="pagination-previous">
					<a href="?page={{ events.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"
					 aria-label="Previous page">Previous</a>
				</li>
				{% else %}
				<li class="pagination-previous disabled">Previous</li>
				{% endif %}

				<li class="unavailable">Page {{ events.number }} of {{ events.paginator.num_pages }}</li>

				{% if events.has_next %}
				<li class="pagination-next">
					<a href="?page={{ events.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"
					 aria-label="Next page">Next</a>
				</li>
				{% else %}
				<li class="pagination-next disabled">Next</li>
				{% endif %}
			</ul>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
