{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block breadcrumbs %}{% endblock %}

{% block header %}
  {% if self.feed_image %}
  {% else %}
      {{ page.title }}
  {% endif %}
{% endblock %}


{% block content %}
    <div id="content" class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="medium-9 cell">
                <div class="grid-x grid-padding-x">
                    <div class="medium-12 cell">
                        {% block contact_content %}{% endblock %}
                    </div>
                    <aside id="sidebar" class="hide-for-print hide-for-small-only medium-5 cell">


                    </aside>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
