{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block header %}
{% if self.subtitle %} {{ self.subtitle }}{% else %}{{ self.title }}{% endif %}
{% endblock %}

{% block content %}
<div id="content" class="grid-container">
    <div class="grid-x grid-padding-x">
        <div id="standard_page" class="medium-12 cell">
          <h3>{{ page.winner }}</h3>
          <div class="intro">{{ page.intro }}</div>


          <div style="margin: 10px">
              {% image page.image max-1000x500 %}
          </div>

          <div>{{ page.body|richtext }}</div>

          <p><a href="{{ page.get_parent.url }}">Return to award index</a></p>
        </div>
  </div>
</div>
{% endblock %}
