@import "./settings";

a.button, button.button {
  box-sizing: border-box;
  border: 3px solid $white;
  padding: .6em 1em;
  transition: background-color .25s;
  font-size: .9em;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $blue-light;
  }

  &.transparent-whiteblue {
    background-color: transparent;
    &:hover,
    &:focus {
      background-color: $white;
      color: $blue-dark;
    }
  }

  &.blue {
    // this is the same as the default
  }

  &.yellow {
    &:hover,
    &:focus {
      color: $yellow-dark;
    }
  }
}

