{% load wagtailcore_tags navigation_tags wagtailsettings_tags wagtailimages_tags static %}
{% get_settings %}
{% get_site_root as site_root %}

<div class="hide-for-print" data-sticky-container>
<div data-sticky data-options="marginTop:0;">

    <div class="title-bar" data-responsive-toggle="menu" data-hide-for="large">
        <div class="title-bar-title"><a href="{% pageurl site_root %}">Grand Rapids Historical Society</a></div>
        <button class="button blue menu-button" data-toggle>Menu</button>
    </div>

    <div class="top-bar" id="menu">
        <div class="top-bar-left hide-for-small-only">
            <ul class="dropdown menu">
                <li class="menu-text"><a href="{% pageurl site_root %}" style="padding: 0;">
                  {% image settings.pages.SiteBranding.logo width-80 %}
                  Grand Rapids<br>Historical Society</a>
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
              {# <li class="{% if calling_page.url == site_root %} is-active{% endif %}"><a href="{% pageurl site_root %}">Home</a></li> #}
                {% for menuitem in menuitems %}
                    <li class="{% if menuitem.show_dropdown %}has-submenu{% endif %} {% if calling_page.url == menuitem.url %}is-active{% endif %}">
                        <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                        {% comment %}
                            {% if menuitem.show_dropdown %}
                                <ul class="submenu menu vertical" data-submenu>
                                    <li class="show-for-small-only">
                                        <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                                    </li>
                                    {% top_menu_children parent=menuitem %}
                                </ul>
                            {% endif %}
                        {% endcomment %}
                    </li>
                {% endfor %}
                {% if request.user.is_authenticated %}
                    <li><a href="/membership/logout">Logout</a></li>
                {% else %}
                    <li><a href="/membership/login">Login</a></li>
                {% endif %}
                <li class="has-form show-for-small-only" style="background: transparent;">
                    <form action ="{% url 'search' %}" method="get">
                        <div class="row collapse">
                            <div class="small-8 columns">
                                <input class="field" type="text" placeholder="Search" name="q"{% if query_string %} value="{{ query_string }}"{% endif %}>
                            </div>
                            <div class="small-4 columns">
                                <input type="submit" class="button expand" value="Search">
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>

</div>
</div>
