{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags grhs_site_utils %}

{% block breadcrumbs %}{% endblock %}

{% block header %}
  {% if self.feed_image %}
  {% else %}
  {% if self.subtitle %} {{ self.subtitle }}{% else %}{{ self.title }}{% endif %}
  {% endif %}
{% endblock %}


{% block content %}

	{% include "pages/includes/feed_image_title.html" %}

	<div id="content" class="grid-container">
		<div class="grid-x grid-padding-x align-center">
			<div id="standard_page" class="medium-10 cell">
	      		{% include "pages/includes/intro.html" with intro=self.intro only %}

	      		<br>

	      		{% secondary_menu_grid calling_page=self %}
	      	</div>
  		</div>
	</div>
{% endblock %}
