{% if settings.pages.SocialMediaSettings.facebook %}
	<a href="{{ settings.pages.SocialMediaSettings.facebook }}" target="_blank" class="social-icon-button facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a>
{% endif %}
{% if settings.pages.SocialMediaSettings.twitter %}
	<a href="{{ settings.pages.SocialMediaSettings.twitter }}" target="_blank" class="social-icon-button twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a>
{% endif %}
{% if settings.pages.SocialMediaSettings.instagram %}
	<a href="{{ settings.pages.SocialMediaSettings.instagram }}" target="_blank" class="social-icon-button facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a>
{% endif %}
{% if settings.pages.SocialMediaSettings.linkedin %}
	<a href="{{ settings.pages.SocialMediaSettings.linkedin }}" target="_blank" class="social-icon-button facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a>
{% endif %}
{% if settings.pages.SocialMediaSettings.github %}
	<a href="{{ settings.pages.SocialMediaSettings.github }}" target="_blank" class="social-icon-button facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a>
{% endif %}
{% if settings.pages.SocialMediaSettings.youtube %}
<a href="{{ settings.pages.SocialMediaSettings.youtube }}" target="_blank" class="social-icon-button facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a>
{% endif %}