{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags grhs_site_utils %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block header_area %}{% endblock %}

{% block content %}

<div id="home-page">
	<div id="intro">
		<div class="orbit clean-hero-slider" role="region" aria-label="Homepage Slider" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
			<div class="orbit-wrapper">
				<ul class="orbit-container">
					{% for block in self.content_items.all %}
					{% image block.image width-1280 as carousel_background %}
					<li class="orbit-slide carousel-slide" style="background-image: url('{{carousel_background.url}}')">
						<div class="carousel-sidebar">
							<div class="caption">
								<h3>{{ block.title}}</h3>
								<hr />
								{{ block.content|richtext }}
								<a href="{{ block.link }}" class="button blue" target="_blank">Learn More</a>
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>

			<nav class="orbit-bullets">
				{% for block in self.content_items.all %}
				<button {% if forloop.first %}class="is-active" {% endif %} data-slide="{{forloop.counter0}}">
					<span class="show-for-sr">Slide {{ forloop.counter }} details.</span>
					{% if forloop.first %}<span class="show-for-sr">Current Slide</span>{% endif %}
				</button>
				{% endfor %}
			</nav>
		</div>

	</div>

	<section class="events">
		<h3>Explore our Events</h3>
		<hr />
		<div class="row">
			{% for event in events %}
			{% image event.feed_image width-400 as event_background %}
			<div class="medium-12 large-4 columns">
				<a class="event-link" href="{{event.url}}">
					<div class="event" style="background-image: url('{{event_background.url}}')">
						<div class="event-blue-block">
							<h4>{{ event.title }}</h4>
							<div class="event-date">{{ event.date_from }}</div>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>

		<a href="TODO">View All Events</a>
	</section>

	<div class="yellow-banner">
		<h3>Are you a student? Love History?</h3>
		<a class="button yellow" href="{% slugurl 'membership' %}">View Membership</a>
	</div>

	<section class="news">
		<h3>History in the News</h3>
		<hr />
		{% for news_item in news %}
		<div>
			<div class="news-item row">
				<div class="news-item-image">
					{% image news_item.feed_image width-400 %}
				</div>
				<div class="news-item-summary">
					<h4>{{ news_item.title }}</h4>
					<div class="event-date">{{ news_item.intro|richtext }}</div>
					<a href="{{ news_item.url }}">Read more</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>

	{% endblock %}
