{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags grhs_site_utils %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

  {% include "pages/includes/feed_image_title.html" %}

  <div id="content" class="grid-container">
    <div class="grid-x grid-padding-x">
      {% if self.feed_image %}{% else %}
      <div class="cell">
          <h1>{{ self.title }}</h1>
      </div>
      {% endif %}
      <div id="standard_page" class="medium-12 cell">
         {% include "pages/includes/orbit_carousel.html" with image_items=self.image_items.all only %}

          {% include "pages/includes/body.html" with body=self.body only %}
        </div>
    </div>
  </div>
{% endblock %}
