{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags grhs_site_utils %}

{% block breadcrumbs %}{% endblock %}

{% block header %}
  {% if self.feed_image %}
  {% else %}
      {{ self.title }}
  {% endif %}
{% endblock %}

{% block content %}

  {% include "pages/includes/feed_image_title.html" %}

  <div id="content" class="grid-container">
    <div class="grid-x grid-padding-x">
        <div id="standard_page" class="{% if self.sidebar_text %}medium-9{% else %}medium-12{% endif %} cell">
          {% include "pages/includes/intro.html" with intro=self.intro only %}

          {% include "pages/includes/orbit_carousel.html" with image_items=self.image_items.all only %}

          {% include "pages/includes/body.html" with body=self.body only %}
        </div>
        {% if self.sidebar_text %}
        <div id="sidebar" class="hide-for-print hide-for-small-only medium-3 cell">
          <div class="card">

            <div class="card-section" style="padding: 12px;">
              {{ self.sidebar_text|richtext }}

            </div>
          </div>
        </div>
        {% endif %}

      </div>
  </div>
{% endblock %}