{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags grhs_site_utils %}

{% block breadcrumbs %}{% endblock %}

{% block header %}
	{% if self.feed_image %}
	{% else %}
	{% if self.subtitle %} {{ self.subtitle }}{% else %}{{ self.title }}{% endif %}
	{% endif %}
{% endblock %}


{% block content %}

{% include "pages/includes/feed_image_title.html" %}

<div id="content" class="grid-container">
  <div class="grid-x grid-padding-x">
    <div id="standard_page" class="{% if self.sidebar_text %}medium-9{% else %}medium-12{% endif %} cell">
      {% include "pages/includes/intro.html" with intro=self.intro only %}

      {% if self.midpage_subtitle %}
    </div>
    {% if self.sidebar_text %}
    <div id="sidebar" class="hide-for-print hide-for-small-only medium-3 cell">
      <div class="card">

        <div class="card-section" style="padding: 12px;">
          {{ self.sidebar_text|richtext }}

        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<!-- closing content from base -->
</div>

<header class="num-{% random_int 1 12 %}">{# corresponds to static/img/sections-bgs/* choices #}
  <h1 class="grid-container">{{ self.midpage_subtitle }}</h1>
</header>


<div id="content" class="grid-container">
  <div class="grid-x grid-padding-x">
    <div id="standard_page" class="{% if self.sidebar_text %}medium-9{% else %}medium-12{% endif %} cell">
      {% endif %}

      {% include "pages/includes/body.html" with body=self.body only %}
    </div>
    {% if not self.midpage_subtitle %}
      {% if self.sidebar_text %}
      <div id="sidebar" class="hide-for-print hide-for-small-only medium-3 cell">
        <div class="card">

          <div class="card-section" style="padding: 12px;">
            {{ self.sidebar_text|richtext }}

          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}

  </div>
</div>
{% endblock %}