{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block header_area %}{% endblock %}

{% block content %}
    <div id="content" class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="medium-10 cell">
                <div class="intro">{{ self.intro|richtext }}</div>
                  {% for page in self.get_children %}
                    <a href="{% pageurl page %}">
                      <div class="article-row-content">
                      <h4>{{ page.title }}</h4>
                    </div></a>
                  {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
