{% extends "base.html" %}
{% load wagtailcore_tags wagtailsettings_tags %}
{% get_settings %}

{% block content %}
    <div id="content" class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div id="people" class="medium-10 cell">
                <p>Please wait while you are redirected for payment.</p>
                <div style="display:none;">
                    <form action="https://{{ settings.products.PaypalSettings.url }}/cgi-bin/webscr" method="post" target="_top" id="payment_form">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="{{ settings.products.PaypalSettings.membership_button_id }}">
                    <input type="hidden" value="{{ member_type }}" name="os0" id="os0"/>
                    <input type="hidden" name="on0" value="Membership Types">
                    <input type="hidden" name="currency_code" value="USD">
                    </form>
                </div>
                <script charset="utf-8">
                    document.addEventListener('DOMContentLoaded', function() {
                        document.getElementById('payment_form').submit();
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}

