{% extends "products/product_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block product_content %}
    <div class="medium-12 columns">
        <center>
            <h3>{% if self.subtitle %} {{ self.subtitle }}{% else %}{{ self.title }}{% endif %}</h3>
            <h5>{% include "products/includes/intro.html" with intro=self.intro only %}</h5>
        </center>

        <div class="row" style="margin-bottom:15px;">
            {% if self.price %}
                <div class="medium-10 columns">
            {% else %}
                <div class="medium-12 columns">
            {% endif %}
            {% if self.image %}
                {% image self.image height-400 as photo %}
                <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" style="float: left;" />
            {% endif %}

            {% if self.price %}</div>{% else %}</div>{% endif %}

            {% if self.price and self.inventory > 0 %}
                <div class="medium-2 columns" style="border:solid 1px;height:240px;text-align:center;">
                    <h5>Price</h5><br><br>
                    <h1 class="stat"><strong>{{ self.price }}</strong></h1>
                    {% if self.shipping_cost > 0.0 %}
                        <span class="shipping">+ {{ self.shipping_cost }} shipping</span>
                    {% endif %}
                    <form action="https://{{ settings.products.PaypalSettings.url }}/cgi-bin/webscr" method="post" id="payment_form">
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="add" value="1">
                        <input type="hidden" name="amount" value="{{ page.cost }}">
                        <input type="hidden" name="business" id="business" value="{{ settings.products.PaypalSettings.email }}"/>
                        <input type="hidden" name="item_name" value="{{ page.title }}">
                        <input type="hidden" name="return" value="{{ request.site.root_url }}/paypal"/>
                        <input type="hidden" name="cancel_return" value="{{ request.site.root_url }}/paypal/cancel"/>
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="lc" value="US">
                        <input type="image" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" alt="Add to Cart">
                        <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
                    </form>
                </div>
            {% else %}
                <div class="medium-2 columns" style="text-align:center;">
                    <h5>Out of Stock</h5><br><br>
                </div>
            {% endif %}
        </div>
    </div>

    <br>
    <hr>

    <div class="medium-12 columns">
        {% if self.link_demo %}
            <center><a class="hollow button alert" href="{{self.link_demo}}">Demo</a></center>
        {% endif %}
    </div>

    <div class="medium-12 columns">
        <h5>Feature Tags</h5>
        <ul>
            {% for tag in self.tags.all %}
                <li class="label" style="line-height:25px;"> {{ tag }}</li>
            {% endfor %}
        </ul>

        {% if self.description %}
            <h5>Product Description</h5>
            {% include "products/includes/body.html" with body=self.description only %}
        {% endif %}
        <br>
        {% include "utils/includes/related_links.html" with related_links=self.related_links.all only %}
    </div>
{% endblock %}
