{% extends "products/product_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block header %} Own a Piece of History {% endblock %}

{% block product_content %}
    <div class="product-show">
        <h5 class="back">
          <a href="{% pageurl category %}">← Back to {{category.title}}</a>
        </h5>
        <center>
            <h3>{% if self.subtitle %} {{ self.subtitle }}{% else %}{{ self.title }}{% endif %}</h3>
            <h5>{% include "products/includes/intro.html" with intro=self.intro only %}</h5>
        </center>

        <div class="grid-x align-middle">
            {% if self.image %}
              <div class="reveal" id="product-image-modal" data-reveal>
                <div class="product-image-modal-content">
                  {% image self.image height-800 as fullSize %}
                  <button class="close-button" data-close aria-label="Close modal" type="button">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  <img src="{{ fullSize.url }}"
                       width="{{ fullSize.width }}"
                       height="{{ fullSize.height }}"
                       alt="{{ fullSize.alt }}"/>
                </div>
              </div>
              <div class="medium-8 columns product-image">
                {% image self.image height-400 as thumbnail %}
                <img src="{{ thumbnail.url }}"
                     width="{{ thumbnail.width }}"
                     height="{{ thumbnail.height }}"
                     alt="{{ thumbnail.alt }}"
                     class="img-thumbnail"
                     data-open="product-image-modal" />
              </div>
            {% endif %}

            {% if self.price %}
                <div class="medium-4 columns buy-form">
                    <h1 class="product-price"><strong>${{ self.price }}</strong></h1>
                    <form action="https://{{ settings.products.PaypalSettings.url }}/cgi-bin/webscr" method="post" id="payment_form">
                        <input type="hidden" name="cmd" value="_xclick">
                        <input type="hidden" name="amount" value="{{ page.price }}">
                        <input type="hidden" name="business" id="business" value="{{ settings.products.PaypalSettings.email }}"/>
                        <input type="hidden" name="item_name" value="{{ page.title }}">
                        <input type="hidden" name="return" value="{{ request.site.root_url }}/paypal"/>
                        <input type="hidden" name="cancel_return" value="{{ request.site.root_url }}/paypal/cancel"/>
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="lc" value="US">
                        <input type="submit" name="submit" value="Add to Cart" class="button add-to-cart">
                    </form>
                </div>
            {% endif %}
        </div>
    </div>

    <hr>

    <div class="medium-12 columns">
        {% if self.description %}
            {% include "products/includes/body.html" with body=self.description only %}
        {% endif %}
        <br>
        {% include "utils/includes/related_links.html" with related_links=self.related_links.all only %}
    </div>
{% endblock %}
