{% extends "products/product_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block header %} Own a Piece of History {% endblock %}

{% block content %}
    <div id="content" class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="product-categories">
              {% for category in categories %}
                <div class="category">
                  <h4>
                    <a href="{% pageurl category %}"
                       class="button {% if category == page %}active{% endif %}">
                      {{category.title}}
                    </a>
                  </h4>
                </div>
              {% endfor %}
            </div>

            {% if self.intro %}
              <div class="medium-12 cell">
                  <center>
                      {{ self.intro|richtext }}
                  </center>
              </div>
            {% endif %}

            <div class="product-grid grid-x grid-padding-x medium-up-3" data-equalizer>
                {% for product in products %}
                    <div class="cell">
                        <div class="card-product card text-center">
                            <a href="{% pageurl product %}">
                                {% image product.image width-400 as product_image %}
                                <div class="card-product-image-wrapper" style="background-image: url('{{  product_image.url}}')">
                                    <div class="card-product-image-wrapper-inner"></div>
                                </div>
                                <div class="card-product-image" style="background-image: url('{{  product_image.url}}')"></div>
                                <div class="card-product-content card-section">
                                    <p class="card-product-name">{{ product.title }}</p>
                                    {% if product.price %}<p class="card-product-price">${{ product.price }}</p>{% endif %}
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if products.has_other_pages %}
                <div class="medium-12 cell hide-for-print">
                    <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                        {% if products.has_previous %}
                            <li class="pagination-previous">
                                <a href="?page={{ products.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Previous page">Previous</a>
                            </li>
                        {% else %}
                            <li class="pagination-previous disabled">Previous</li>
                        {% endif %}

                        <li class="unavailable">Page {{ products.number }} of {{ products.paginator.num_pages }}</li>

                        {% if products.has_next %}
                            <li class="pagination-next">
                                <a href="?page={{ products.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Next page">Next</a>
                            </li>
                        {% else %}
                            <li class="pagination-next disabled">Next</li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
